{% if report.has_other_pages %}
  <nav>
  <ul class="pagination justify-content-center">
    {% if report.has_previous %}
      <li class="page-item"><a class="page-link" tabindex="-1" href="?page={{ report.previous_page_number }}">Previous</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link" tabindex="-1">Previous</span></li>
    {% endif %}
    {% for i in report.paginator.page_range %}
      {% if report.number == i %}
        <li class="page-item disabled"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if report.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ report.next_page_number }}">Next</a></li>
    {% else %}
      <li class=" page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
