{% extends 'eyewitness/base.html' %}
{% block contents %}



<div class="container">
	<p class="btn btn-danger latest">ALL REPORTS</p>
<div class="row">
  {% for report in reports %}
    <div class="col-sm-4">
      <div class="card">
    	<img src="{{report.file.url}}" class="card-img-top" alt="...">
        <div class="card-body">
        <a class="card-tite" href="{%url 'details' report.slug %}"><h5 class="card-title">{{report.subject}}</h5></a>
        <p class="card-text">{{report.message | truncatechars:200}}</p>
         <i class="far fa-user"> {{report.name}} </i>
         <abbr class="published timeago">{%if report.pub %} {{report.date_pub | date:" F d, Y" }}</abbr>{%else%} | Under Review | {%if user.is_staff  %} <a class="btn btn-default" href="{% url 'publish' report.slug %}">Publish</a> {% endif %}
          {% endif %}

          {%if  user.is_staff%} | <a href="{% url 'delete' report.slug %}">Delete Post</a>{% endif %} 

        <hr>
        <a href="{%url 'details' report.slug %}" class="btn btn-primary">Read More</a>

      </div>
    </div>
  </div>
    {% endfor %}
  </div>
</div>
  
{% endblock %}
