{% extends 'eyewitness/base.html' %}
{% block contents %}
<div class="container">
<h1 class="mt-4">{{report.subject}}</h1>
<i class="fa fa-user"></i>
<span itemprop="name">{{report.name | title}}</span></a> <i class="fa fa-calendar-o"></i>
<abbr class="published timeago">{%if report.pub %} {{report.date_pub | date:" F d, Y" }}</abbr>{%else%} | Under Review | {%if user.is_staff  %} <a class="btn btn-default" href="{% url 'publish' report.slug %}">Publish</a> {% endif %}
          {% endif %}

          {%if  user.is_staff%} | <a href="{% url 'delete' report.slug %}">Delete Post</a>{% endif %} 

          
          <hr>
          <!-- Post Content -->
          <img src="{{report.file.url}}" class="rounded mx-auto d-block">
          <hr>
        <div class="content-markdown">{{report.message |linebreaks}}</div>

          <hr>  
          </div>
{% endblock %}


     

        <!-- Post Content Column -->
       

          <!-- Title -->


          <!-- Comments Form -->
<!--  -->

  