{% extends 'eyewitness/base.html' %}
{% block contents %}
{% load bootstrap4 %}
<div class="jumbotron">
  <p class="display-4"> Submit An Eye Witness Report</p>
<p class="lead">If you've witnessed or been the victim of crime, please report it here. It will help to bring the offender to justice and make sure this doesn't happen to anyone else. Just fill the form below to provide information about the report. The kind of information you provide here plays a huge part in how we change our society</p>
<p class="lead">Is it an emergency?</p>
<p class="lead">Does it feel like the situation could get heated or violent very soon? Is someone in immediate danger? Do you need support right away? If so, please call <b>767</b> now.</p>
</div>
<div class="container">
<div class="alert alert-dark" role="alert">
  A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
</div>

<form method="POST" enctype="multipart/form-data" class="container">
  {% csrf_token %}
  {% bootstrap_form form layout='inline'    %}
  <input type="submit" class="btn btn-danger" value="Submit">

</form>
{% endblock %}
